# Tennis Strategies

In this document, we will be looking at the shot selections of top one-handed backhand players.

**Goal**: Examine and Determine what strategies are useful to use for one-handers in terms of shot selection, set ups, and effectiveness.

Credit for the original data: https://www.kaggle.com/datasets/ryanthomasallen/tennis-match-charting-project

In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [57]:
rally = pd.read_csv('Mens/charting-m-stats-Rally.csv', encoding='ISO-8859-1', index_col=False) 
# encoding='ISO-8859-1', , header=0, encoding_errors='replace'
rally.head(10)

/var/folders/10/z7xcjwyj3yjc2tg70_k8qvmw0000gn/T/ipykernel_53781/1782720516.py:1: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  rally = pd.read_csv('Mens/charting-m-stats-Rally.csv', encoding='ISO-8859-1', index_col=False)

,match_id,row,pts,pl1_won,pl1_winners,pl1_forced,pl1_unforced,pl2_won,pl2_winners,pl2_forced,pl2_unforced
0,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,Total,132,82,28,28,15,50,14,20,24
1,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,1-3,64,40,6,19,6,24,6,11,13
2,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,1-3-1,34,29,6,14,2,5,1,1,9
3,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,1-3-2,30,11,0,5,4,19,5,10,4
4,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,4-6,40,27,13,6,2,13,5,6,8
5,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,4-6-1,19,9,5,2,1,10,4,5,2
6,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,4-6-2,21,18,8,4,1,3,1,1,6
7,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,7-9,13,5,2,2,5,8,1,2,1
8,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,7-9-1,8,5,2,2,2,3,0,1,1
9,19751219-M-Davis_Cup_World_Group_F-RR-Bjorn_Bo...,7-9-2,5,0,0,0,3,5,1,1,0

In [58]:
rally.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26725 entries, 0 to 26724
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   match_id      26725 non-null  object
 1   row           26725 non-null  object
 2   pts           26725 non-null  int64
 3   pl1_won       26725 non-null  int64
 4   pl1_winners   26725 non-null  int64
 5   pl1_forced    26725 non-null  int64
 6   pl1_unforced  26725 non-null  int64
 7   pl2_won       26725 non-null  int64
 8   pl2_winners   26725 non-null  int64
 9   pl2_forced    26725 non-null  int64
 10  pl2_unforced  26725 non-null  int64
dtypes: int64(9), object(2)
memory usage: 2.2+ MB

In [59]:
fed = rally[rally['match_id'].str.contains('ederer')]
fed

,match_id,row,pts,pl1_won,pl1_winners,pl1_forced,pl1_unforced,pl2_won,pl2_winners,pl2_forced,pl2_unforced
557,19981005-M-Basel-R32-Andre_Agassi-Roger_Federer,Total,103,62,12,27,15,41,10,15,21
558,19981005-M-Basel-R32-Andre_Agassi-Roger_Federer,1-3,65,37,6,22,5,28,8,14,7
559,19981005-M-Basel-R32-Andre_Agassi-Roger_Federer,1-3-1,36,30,6,21,3,6,1,1,3
560,19981005-M-Basel-R32-Andre_Agassi-Roger_Federer,1-3-2,29,7,0,1,2,22,7,13,4
561,19981005-M-Basel-R32-Andre_Agassi-Roger_Federer,4-6,19,12,0,3,7,7,0,0,9
...,...,...,...,...,...,...,...,...,...,...,...
26642,20140815-M-Cincinnati_Masters-QF-Andy_Murray-R...,7-9-1,10,7,2,1,1,3,2,0,4
26643,20140815-M-Cincinnati_Masters-QF-Andy_Murray-R...,7-9-2,6,4,0,1,1,2,1,0,3
26644,20140815-M-Cincinnati_Masters-QF-Andy_Murray-R...,10,15,5,1,1,3,10,3,4,3
26645,20140815-M-Cincinnati_Masters-QF-Andy_Murray-R...,10-1,11,3,0,0,3,8,2,3,3
26646,20140815-M-Cincinnati_Masters-QF-Andy_Murray-R...,10-2,4,2,1,1,0,2,1,1,0

In [55]:
#ferrero = rally[rally['match_id'].str.contains('errero')]
#ferrero.head(15)

In [60]:
fed.isna().sum()

match_id        0
row             0
pts             0
pl1_won         0
pl1_winners     0
pl1_forced      0
pl1_unforced    0
pl2_won         0
pl2_winners     0
pl2_forced      0
pl2_unforced    0
dtype: int64

In [61]:
fed_total = fed[fed['row'] == 'Total']
fed_total

,match_id,row,pts,pl1_won,pl1_winners,pl1_forced,pl1_unforced,pl2_won,pl2_winners,pl2_forced,pl2_unforced
557,19981005-M-Basel-R32-Andre_Agassi-Roger_Federer,Total,103,62,12,27,15,41,10,15,21
680,20001029-M-Basel-F-Thomas_Enqvist-Roger_Federer,Total,288,145,53,55,33,143,55,53,32
731,20010611-M-Halle-QF-Patrick_Rafter-Roger_Federer,Total,202,102,39,56,7,100,39,50,5
741,20010702-M-Wimbledon-R16-Roger_Federer-Pete_Sa...,Total,370,190,67,80,28,180,66,80,34
864,20030804-M-Canada_Masters-R16-Roger_Federer-To...,Total,108,61,19,28,12,47,16,18,14
...,...,...,...,...,...,...,...,...,...,...,...
26262,20040711-M-Gstaad-F-Roger_Federer-Igor_Andreev,Total,203,115,32,44,26,88,23,39,36
26340,20011028-M-Basel-F-Tim_Henman-Roger_Federer,Total,180,99,29,40,19,81,25,35,28
26517,20081114-M-Masters_Cup-RR-Roger_Federer-Andy_M...,Total,243,118,45,40,44,125,31,47,30
26556,20070122-M-Australian_Open-R16-Roger_Federer-N...,Total,181,105,51,27,25,76,17,33,25
26634,20140815-M-Cincinnati_Masters-QF-Andy_Murray-R...,Total,136,61,18,16,23,75,20,30,24

In [63]:
points = pd.read_csv('Mens/charting-m-points.csv', encoding='ISO-8859-1', index_col=False)
points

/var/folders/10/z7xcjwyj3yjc2tg70_k8qvmw0000gn/T/ipykernel_53781/1884064327.py:1: DtypeWarning: Columns (7,12,24,25,26,31,32,33,34,35,45,51) have mixed types. Specify dtype option on import or set low_memory=False.
  points = pd.read_csv('Mens/charting-m-points.csv', encoding='ISO-8859-1', index_col=False)

,match_id,Pt,Set1,Set2,Gm1,Gm2,Pts,Gm#,TbSet,TB?,...,PtsAfter,GmW,Gm1.1,Gm2.1,SetW,Set1.1,Set2.1,RevTB,TBrev,rallyCount
0,20180520-M-Rome_Masters-F-Rafael_Nadal-Alexand...,1,0,0,0,0.0,0-0,1 (1),1,0.0,...,0-15,0,0.0,0,0.0,0.0,0.0,NaN,NaN,6
1,20180520-M-Rome_Masters-F-Rafael_Nadal-Alexand...,2,0,0,0,0.0,0-15,1 (2),1,0.0,...,0-30,0,0.0,0,0.0,0.0,0.0,NaN,NaN,16
2,20180520-M-Rome_Masters-F-Rafael_Nadal-Alexand...,3,0,0,0,0.0,0-30,1 (3),1,0.0,...,0-40,0,0.0,0,0.0,0.0,0.0,NaN,NaN,6
3,20180520-M-Rome_Masters-F-Rafael_Nadal-Alexand...,4,0,0,0,0.0,0-40,1 (4),1,0.0,...,15-40,0,0.0,0,0.0,0.0,0.0,NaN,NaN,1
4,20180520-M-Rome_Masters-F-Rafael_Nadal-Alexand...,5,0,0,0,0.0,15-40,1 (5),1,0.0,...,30-40,0,0.0,0,0.0,0.0,0.0,NaN,NaN,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331715,19700322-M-New_South_Wales-F-Ken_Rosewall-Rod_...,305,2,2,3,5.0,30-15,43,0,0.0,...,40-15,0,3.0,5,0.0,2.0,2.0,NaN,NaN,1
331716,19700322-M-New_South_Wales-F-Ken_Rosewall-Rod_...,306,2,2,3,5.0,40-15,43,0,0.0,...,40-30,0,3.0,5,0.0,2.0,2.0,NaN,NaN,2
331717,19700322-M-New_South_Wales-F-Ken_Rosewall-Rod_...,307,2,2,3,5.0,40-30,43,0,0.0,...,40-40,0,3.0,5,0.0,2.0,2.0,NaN,NaN,8
331718,19700322-M-New_South_Wales-F-Ken_Rosewall-Rod_...,308,2,2,3,5.0,40-40,43,0,0.0,...,40-AD,0,3.0,5,0.0,2.0,2.0,NaN,NaN,6
331719,19700322-M-New_South_Wales-F-Ken_Rosewall-Rod_...,309,2,2,3,5.0,40-AD,43,0,0.0,...,GM,2,3.0,6,2.0,2.0,3.0,NaN,NaN,4

In [64]:
points.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331720 entries, 0 to 331719
Data columns (total 52 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          331720 non-null  object
 1   Pt                331720 non-null  int64
 2   Set1              331720 non-null  int64
 3   Set2              331720 non-null  int64
 4   Gm1               331720 non-null  int64
 5   Gm2               331719 non-null  float64
 6   Pts               331720 non-null  object
 7   Gm#               331719 non-null  object
 8   TbSet             331720 non-null  int64
 9   TB?               331645 non-null  float64
 10  TBpt              11049 non-null   float64
 11  Svr               331720 non-null  int64
 12  Ret               331720 non-null  object
 13  Serving           330774 non-null  object
 14  1st               331720 non-null  object
 15  2nd               126622 non-null  object
 16  Notes             9249 non-null    object
 17  1stNoLet          331720 non-null  object
 18  2ndNoLet          126632 non-null  object
 19  1stSV             331720 non-null  int64
 20  2ndSV             126215 non-null  float64
 21  1stNoSV           331720 non-null  object
 22  2ndNoSV           126632 non-null  object
 23  1stIn             331719 non-null  float64
 24  2ndIn             126632 non-null  object
 25  isRally1st        331720 non-null  object
 26  isRally2nd        331720 non-null  object
 27  Sv1               331720 non-null  object
 28  Sv2               126632 non-null  object
 29  Rally             287684 non-null  object
 30  isAce             331720 non-null  bool
 31  isUnret           331710 non-null  object
 32  isRallyWinner     331710 non-null  object
 33  isForced          331710 non-null  object
 34  isUnforced        331720 non-null  object
 35  isDouble          331720 non-null  object
 36  rallyNoSpec       287684 non-null  object
 37  rallyNoError      287661 non-null  object
 38  rallyNoDirection  287661 non-null  object
 39  rallyLen          331720 non-null  int64
 40  PtWinner          331720 non-null  int64
 41  isSvrWinner       331720 non-null  int64
 42  PtsAfter          331720 non-null  object
 43  GmW               331720 non-null  int64
 44  Gm1.1             331644 non-null  float64
 45  Gm2.1             331644 non-null  object
 46  SetW              331643 non-null  float64
 47  Set1.1            331643 non-null  float64
 48  Set2.1            331643 non-null  float64
 49  RevTB             5334 non-null    float64
 50  TBrev             5334 non-null    object
 51  rallyCount        331643 non-null  object
dtypes: bool(1), float64(10), int64(11), object(30)
memory usage: 129.4+ MB

In [65]:
fed_points = points[points['match_id'].str.contains('ederer')]
fed_points

,match_id,Pt,Set1,Set2,Gm1,Gm2,Pts,Gm#,TbSet,TB?,...,PtsAfter,GmW,Gm1.1,Gm2.1,SetW,Set1.1,Set2.1,RevTB,TBrev,rallyCount
6980,20180318-M-Indian_Wells_Masters-F-Roger_Federe...,1,0,0,0,0.0,0-0,1,1,0.0,...,0-15,0,0.0,0,0.0,0.0,0.0,NaN,NaN,2
6981,20180318-M-Indian_Wells_Masters-F-Roger_Federe...,2,0,0,0,0.0,0-15,1,1,0.0,...,15-15,0,0.0,0,0.0,0.0,0.0,NaN,NaN,1
6982,20180318-M-Indian_Wells_Masters-F-Roger_Federe...,3,0,0,0,0.0,15-15,1,1,0.0,...,30-15,0,0.0,0,0.0,0.0,0.0,NaN,NaN,1
6983,20180318-M-Indian_Wells_Masters-F-Roger_Federe...,4,0,0,0,0.0,30-15,1,1,0.0,...,30-30,0,0.0,0,0.0,0.0,0.0,NaN,NaN,6
6984,20180318-M-Indian_Wells_Masters-F-Roger_Federe...,5,0,0,0,0.0,30-30,1,1,0.0,...,40-30,0,0.0,0,0.0,0.0,0.0,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289670,19981005-M-Basel-R32-Andre_Agassi-Roger_Federer,99,1,0,5,2.0,15-0,17,1,0.0,...,15-15,0,5.0,2,0.0,1.0,0.0,NaN,NaN,4
289671,19981005-M-Basel-R32-Andre_Agassi-Roger_Federer,100,1,0,5,2.0,15-15,17,1,0.0,...,30-15,0,5.0,2,0.0,1.0,0.0,NaN,NaN,1
289672,19981005-M-Basel-R32-Andre_Agassi-Roger_Federer,101,1,0,5,2.0,30-15,17,1,0.0,...,30-30,0,5.0,2,0.0,1.0,0.0,NaN,NaN,4
289673,19981005-M-Basel-R32-Andre_Agassi-Roger_Federer,102,1,0,5,2.0,30-30,17,1,0.0,...,40-30,0,5.0,2,0.0,1.0,0.0,NaN,NaN,1
289674,19981005-M-Basel-R32-Andre_Agassi-Roger_Federer,103,1,0,5,2.0,40-30,17,1,0.0,...,GM,1,6.0,2,1.0,2.0,0.0,NaN,NaN,3